<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Email Reset</title>
</head>
<body>
<div>
    <h2>Hi there!</h2>
    <p>
        Your One-Time Password (OTP) for authentication is:
    </p>
    <h3 th:text="${otp}" style="color: #007bff;"></h3>
    <p>
        Please use this OTP to reset your password. This OTP is valid for a limited time.
    </p>
    <p>
        If you did not request this OTP, please ignore this email.
    </p>
    <p>
        Best regards,
        <br/>
       Gpu Configurator team
    </p>
</div>
</body>
</html>
